In [67]:
import pandas as pd
import os
import subprocess as sp
# C:\Users\aamir\OneDrive\Desktop\HACE_Project

In [68]:
# Make new directory
try:
    sp.check_output("dir C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project", shell = True)
except:
    os.mkdir("C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project")

In [69]:
#Check if that worked 
if sp.check_output("dir C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\", shell = True):
    print('File exists')
else:
    print("File Does Not Exist")

File exists

In [70]:
# Move a file to newly created directory
try:
    sp.check_output("dir C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\High_income.csv", shell = True)
except:
    os.system("copy C:\\Users\\aamir\\Downloads\\High_income.csv C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\")

In [71]:
if sp.check_output("dir C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\High_income.csv", shell = True):
    print('File exists')
else:
    print("File Does Not Exist")

File exists

In [82]:
# function to read CSV and excel files
def read_data(file_url):
    try:
        data = pd.read_csv(file_url)
    except:
        data = pd.read_excel(file_url)
        return(data)

In [85]:
read_data(r'C:\Users\aamir\OneDrive\Documents\!ASDM\hotel_reviews.xls')

,ID,Hotel/Restaurant name,Location,Review Date,Review
0,rn579778340,Thong Dee The Kathu Brasserie,Kathu,Reviewed 1 week ago,Just been for sunday roast lamb and beef truly...
1,rn576350875,Thong Dee The Kathu Brasserie,Kathu,Reviewed 3 weeks ago,"Quietly set off the main road, nice atmosphere..."
2,rn574921678,Thong Dee The Kathu Brasserie,Kathu,Reviewed 4 weeks ago,I made a reservation for a birthday two days i...
3,rn572905503,Thong Dee The Kathu Brasserie,Kathu,"Reviewed April 12, 2018",We visit here regularly and never fail to be i...
4,rn572364712,Thong Dee The Kathu Brasserie,Kathu,"Reviewed April 10, 2018",Visited this wonderful place on my travels and...
...,...,...,...,...,...
53639,rn162368197,Bite in,Patong,"Reviewed May 29, 2013","I love this small restaurant, for the great fo..."
53640,rn161843734,Bite in,Patong,"Reviewed May 25, 2013",We stopped at this restaurant after shopping a...
53641,rn161734077,Bite in,Patong,"Reviewed May 24, 2013","Great times ,This is one of the best restauran..."
53642,rn161218072,Bite in,Patong,"Reviewed May 19, 2013","Bite in, it has become my favorite restaurant ..."
53643,rn161212765,Bite in,Patong,"Reviewed May 19, 2013",The restaurant put in a good location in Jungc...

In [73]:
#Test File local system
read_data("C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\High_income.csv")

,Countries,Years,Trade in services (% of GDP),"Communications, computer, etc. (% of service imports, BoP)","Imports of goods and services (BoP, current US$)","Insurance and financial services (% of service imports, BoP)","Goods imports (BoP, current US$)","Service imports (BoP, current US$)","Imports of goods, services and primary income (BoP, current US$)","Transport services (% of service imports, BoP)","Travel services (% of service imports, BoP)","Net trade in goods and services (BoP, current US$)","Exports of goods and services (BoP, current US$)","Goods exports (BoP, current US$)","Service exports (BoP, current US$)","Exports of goods, services and primary income (BoP, current US$)","Transport services (% of service exports, BoP)"
0,France,1990.0,10.982815,33.824083,2.831830e+11,18.329354,2.207890e+11,6.239486e+10,3.428150e+11,28.084405,19.762157,2.151444e+09,2.853350e+11,2.076660e+11,7.766904e+10,3.410700e+11,20.931252
1,France,1991.0,11.407801,35.061568,2.825760e+11,18.019577,2.177170e+11,6.485888e+10,3.580790e+11,28.038704,18.880151,6.695752e+09,2.892720e+11,2.086170e+11,8.065484e+10,3.590420e+11,21.246160
2,France,1992.0,11.788331,25.840913,2.977180e+11,28.184117,2.239900e+11,7.372792e+10,3.939280e+11,26.914387,19.060584,2.148946e+10,3.192080e+11,2.268700e+11,9.233723e+10,4.068030e+11,19.726344
3,France,1993.0,11.780058,33.648469,2.610640e+11,21.506606,1.905590e+11,7.050467e+10,3.692220e+11,26.685368,18.159557,2.435708e+10,2.854210e+11,1.992400e+11,8.618129e+10,3.844130e+11,20.316877
4,France,1994.0,10.374065,44.423687,2.812360e+11,5.433978,2.176510e+11,6.358476e+10,3.295520e+11,28.355863,21.786473,2.509549e+10,3.063310e+11,2.245100e+11,8.182191e+10,3.478920e+11,21.063432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Cyprus,1996.0,47.306047,7.930628,4.626894e+09,6.516249,3.314176e+09,1.312718e+09,5.306130e+09,60.447887,25.105237,-2.055611e+07,4.606338e+09,1.228725e+09,3.377612e+09,5.050173e+09,18.179439
97,Cyprus,1997.0,47.220156,8.838769,4.982938e+09,6.735751,3.575723e+09,1.407215e+09,5.626714e+09,58.473027,25.952454,-2.807138e+08,4.702224e+09,1.392418e+09,3.309806e+09,5.119971e+09,18.647143
98,Cyprus,1998.0,49.520338,9.947935,4.718744e+09,6.997570,3.317200e+09,1.401545e+09,5.445703e+09,55.550156,27.504339,-1.678351e+08,4.550909e+09,1.245774e+09,3.305135e+09,4.991044e+09,18.062997
99,Cyprus,1999.0,49.876284,10.251451,4.987973e+09,7.620890,3.490364e+09,1.497609e+09,4.883400e+09,54.880722,27.246937,-3.285855e+08,4.659387e+09,1.064644e+09,3.594743e+09,5.129628e+09,17.728115
100,NaN,NaN,52.727301,11.360416,4.869161e+09,8.160132,3.309527e+09,1.559634e+09,5.713898e+09,52.869627,27.609825,7.809223e+07,4.947253e+09,1.000280e+09,3.946973e+09,5.440524e+09,16.378908

In [74]:
# test url 
read_data('https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data')

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [75]:
import wget
import zipfile
import os.path

In [76]:
#Function to Unzip Files
path = "C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\zip_files"
import os

def unzip(url):
    zip_file = wget.download(url)
    with zipfile.ZipFile(zip_file, 'r') as zip_obj:
        zip_obj.extractall(path)
    logdir= path # path to directory
    logfiles = sorted([ f for f in os.listdir(logdir) if f.endswith('.csv')])
    data = read_data(path + "\\"+logfiles[-1],)
    return(data)

In [77]:
#Test function
lend = "https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip"
unzip(lend)

-1 / unknown

In [30]:
lend = "https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip"
read_data("C:\\Users\\aamir\\OneDrive\\Desktop\\HACE_Project\\zip_files\\LoanStats_2018Q4.csv")

c:\users\aamir\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id                                               member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title                 emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt   total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN                                              NaN       40000     40000       40000            60 months  11.31%  875.9       B     B3        NaN                       < 1 year   MORTGAGE       136000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      480xx    MI         15.41 0           Apr-2006         0              72                     NaN                    12       0       34283     81%        22        w                   28519.74  28519.74      19232.1       19232.10        11480.26        7751.84       0.0                0.0        0.0                     Jan-2021     0.0             Feb-2021     Jan-2021           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            149597      1           2           0           1           14                 27860        66      2           2           9618       73       42300            0      0           0            3                    12466       2589           89.6    0                        0           123                132                  1                     1              3        40                   NaN                      15                    NaN                            0                     3              8               4           8         5         9             14            8                   12       0                0            0                  2                  86.4           75               0                    0         179159          62143             25000          42409                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             CVD19SKIP     INCOMECURT      COMPLETE        2             0               Apr-2020            May-2020          Mar-2020                2               2            GRACE_CURRENT        613.57                                     32887.6                        875.9                        N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
                                                           6000      6000        6000             36 months  16.14%  211.36      C     C4        Facility Maintenance Tech 3 years    RENT           40000      Source Verified     Dec-2018 Fully Paid  n          NaN NaN  other              Other                   217xx    MD         3.75  0           Aug-2008         0              NaN                    NaN                    9        0       5580      10.4%      15        w                   0.00      0.00          6425.40063376 6425.40         6000.00         425.40        0.0                0.0        0.0                     May-2019     5588.03         NaN          Jan-2020           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              924          6785        0           0           0           0           NaN                0            NaN     1           2           4230       12       53800            1      0           1            3                    754         42920          11.5    0                        0           NaN                124                  10                    10             0        53                   NaN                      0                     NaN                            0                     2              2               4           7         0         8             14            2                   9        0                0            0                  1                  100            0                0                    0         55383           6785              48500          0                          NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
                                                           35000     35000       35000            60 months  15.02%  833.02      C     C3        elementary school teacher 10+ years  MORTGAGE       106095     Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      017xx    MA         15.38 1           Mar-1998         0              2                      NaN                    9        0       19518     83.1%      14        w                   24021.00  24021.00      19948.67      19948.67        10979.00        8969.67       0.0                0.0        0.0                     Jan-2021     0.0             Feb-2021     Jan-2021           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            460837      0           3           0           1           18                 52858        61      0           1           11887      71       23500            0      1           0            2                    51204       1484           92.9    0                        0           164                249                  16                    16             1        16                   NaN                      NaN                   36                             1                     2              3               2           3         6         5             7             3                   9        0                0            0                  0                  85.7           100              0                    0         499675          72376             21000          72510                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
                                                           25000     25000       25000            36 months  16.91%  890.2       C     C5        Captain                   3 years    RENT           67000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      671xx    KS         13.18 0           Aug-1996         3              46                     NaN                    16       0       17053     29.3%      20        w                   9762.25   9762.25       21329.57      21329.57        15237.75        6091.82       0.0                0.0        0.0                     Jan-2021     0.0             Feb-2021     Jan-2021           0                          46                          1           Individual       NaN              NaN       NaN                       0              0            23438       4           0           0           1           15                 6385         78      5           10          4796       35       58200            1      1           3            11                   1465        25347          40.2    0                        0           162                268                  1                     1              1        1                    NaN                      2                     79                             2                     9              9               10          10        2         15            17            9                   16       0                0            0                  5                  89.5           10               0                    0         66400           23438             42400          8200                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
                                                           5000      5000        5000             36 months  13.56%  169.83      C     C1        Payoff Clerk              10+ years  MORTGAGE       35360.0    Not Verified        Oct-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      381xx    TN         11.3  1           Jun-2006         0              21.0                   NaN                    9        0       2597      27.3%      15        f                   1445.23   1445.23       4581.64       4581.64         3554.77         1026.87       0.0                0.0        0.0                     Jan-2021     169.83          Feb-2021     Jan-2021           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              1413         69785       0           2           0           1           16.0               2379         40.0    3           4           1826       32.0     9500             0      0           1            5                    8723        1174.0         60.9    0                        0           147.0              85                   9                     9              2        10.0                 21.0                     9.0                   21.0                           0                     1              3               2           2         6         6             7             3                   9        0.0              0            0                  3                  92.9           50.0             0                    0         93908           4976              3000           6028.0                     NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN